// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* /////////////////////////////////////////////////////////// GENERAL ELEMENTS */

$selection-color: #A9D5FF;

$font-stack-sans-serif: "Helvetica Neue", Helvetica, sans-serif;

body.admin { font-family: $font-stack-sans-serif; }
body.admin pre { border-radius: 0px; }
body.admin ::selection { background: $selection-color; }
body.admin ::-moz-selection { background: $selection-color; }

/* /////////////////////////////////////////////////////////// TABLES */

body.admin table th.extra-small { width: 25px; }
body.admin table th.datestamp { width: 200px; }
body.admin table th.buttons { width: 76px; }

body.admin table tbody tr { height: 38px; }
body.admin table tbody tr td { line-height: 28px; }
body.admin table td.buttons { padding: 0px; }
body.admin table td.buttons a.btn { padding-top: 10px; height: 38px; width: 38px; border: none; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; }