@font-face {
  font-family: 'neuton_cursiveregular';
  src: url('/assets/neutoncursive-regular-webfont.eot');
  src: url('/assets/neutoncursive-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/neutoncursive-regular-webfont.woff2') format('woff2'),
    url('/assets/neutoncursive-regular-webfont.woff') format('woff'),
    url('/assets/neutoncursive-regular-webfont.ttf') format('truetype'),
    url('/assets/neutoncursive-regular-webfont.svg#/assets/neuton_cursiveregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'neutonlight';
  src: url('/assets/neuton-light-webfont.eot');
  src: url('/assets/neuton-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/neuton-light-webfont.woff2') format('woff2'),
    url('/assets/neuton-light-webfont.woff') format('woff'),
    url('/assets/neuton-light-webfont.ttf') format('truetype'),
    url('/assets/neuton-light-webfont.svg#/assets/neutonlight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'neutonextralight';
  src: url('/assets/neuton-extralight-webfont.eot');
  src: url('/assets/neuton-extralight-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/neuton-extralight-webfont.woff2') format('woff2'),
    url('/assets/neuton-extralight-webfont.woff') format('woff'),
    url('/assets/neuton-extralight-webfont.ttf') format('truetype'),
    url('/assets/neuton-extralight-webfont.svg#/assets/neutonextralight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'neutonextrabold';
  src: url('/assets/neuton-extrabold-webfont.eot');
  src: url('/assets/neuton-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/neuton-extrabold-webfont.woff2') format('woff2'),
    url('/assets/neuton-extrabold-webfont.woff') format('woff'),
    url('/assets/neuton-extrabold-webfont.ttf') format('truetype'),
    url('/assets/neuton-extrabold-webfont.svg#/assets/neutonextrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'neutonitalic';
  src: url('/assets/neuton-italic-webfont.eot');
  src: url('/assets/neuton-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/neuton-italic-webfont.woff2') format('woff2'),
    url('/assets/neuton-italic-webfont.woff') format('woff'),
    url('/assets/neuton-italic-webfont.ttf') format('truetype'),
    url('/assets/neuton-italic-webfont.svg#/assets/neutonitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'neutonregular';
  src: url('/assets/neuton-regular-webfont.eot');
  src: url('/assets/neuton-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/neuton-regular-webfont.woff2') format('woff2'),
    url('/assets/neuton-regular-webfont.woff') format('woff'),
    url('/assets/neuton-regular-webfont.ttf') format('truetype'),
    url('/assets/neuton-regular-webfont.svg#/assets/neutonregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'neutonbold';
  src: url('/assets/neuton-bold-webfont.eot');
  src: url('/assets/neuton-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/neuton-bold-webfont.woff2') format('woff2'),
    url('/assets/neuton-bold-webfont.woff') format('woff'),
    url('/assets/neuton-bold-webfont.ttf') format('truetype'),
    url('/assets/neuton-bold-webfont.svg#/assets/neutonbold') format('svg');
  font-weight: normal;
  font-style: normal;
}